{% extends 'baseAdmin.html.twig' %}
{% import 'macros/macros_heading.html.twig' as macros %}

{% block title %}Edit Matiere{% endblock %}

{% block body %}
 {% if macros.panel_heading is defined %}
    {{ macros.panel_heading("Edit Matiere") }}
{% endif %}

<div class="container-fluid">
    {{ include('matiere/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('matiere_index') }}">back to list</a>

    {{ include('matiere/_delete_form.html.twig') }}
</div>
{% endblock %}
