{% extends 'baseAdmin.html.twig' %}
{% import 'macros/macros_heading.html.twig' as macros %}

{% block title %}Edit Former{% endblock %}

{% block body %}
    {% if macros.panel_heading is defined %}
        {{ macros.panel_heading("Former") }}
    {% endif %}
<div class="container">
    <h1>Edit Former</h1>

    {{ include('former/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('former_index') }}">back to list</a>

    {{ include('former/_delete_form.html.twig') }}
</div>
{% endblock %}
