{% extends 'baseAdmin.html.twig' %}
{% import 'macros/macros_heading.html.twig' as macros %}

{% block title %}New Former{% endblock %}

{% block body %}
    {% if macros.panel_heading is defined %}
        {{ macros.panel_heading("Former") }}
    {% endif %}

<div class="container">
    <h1>Create new Former</h1>

    {{ include('former/_form.html.twig') }}

    <a href="{{ path('former_index') }}">back to list</a>
</div>
{% endblock %}
